$mainColor:rgb(80,204,100);
$backgroudWhite:#fff;
$textLight:#f0ffff;
$textDark: black;
$backgroundSale:#727773;
$origin_price:#727773;
$priceSize: 20px;
$originSize:17px;
$catagoryLine: grey;
$sortTag: rgb(113, 171, 190);